* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

img{
  width: 100%;
  
}

.image{
  height: auto;
  display: flex;

}

.card{
  margin-top: 20px;
  position: relative;
  width: 33%;
  padding: 0 5px 0 5px;
}

.lable{
  font-size: 0.8rem;
  color: lightgrey;

}

.actual-price{
  color: red;

}

.previous-price{
  color: grey;
  text-decoration: line-through;
}

.like{
  padding: 5px 10px;
  background-color: white;
  position: absolute;
  top: 10px;
  right: 0px;
  font-size: 1.5rem;
}

.discount{
  background-color: red;
  padding: 5px 10px;
  margin-right: 3px;
}

.tags{
  position: absolute;
  bottom: 130px;
  color: white;
  display: flex;

}

.sus{
  background-color: green;
  padding: 5px 10px;
}

.hovered{
  display: none;
  position:absolute;
  top: 0;
  left: 0;
}

.card:hover .hovered{
  display: block;
  padding: 0 5px 0 5px;
}

/* Footer */

footer{
  padding-top: 20px;
  height: 100px;
  color: white;
  background-color: #1a1a1a;
  font-size: 0.8rem;
  line-height: 1.8rem;
}

.bottom{
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  width: 80%;

}
/* left text */
.credits span{
  margin-right: 5px;
}
/* right text */
.social span{
  margin-right: 5px;
}